name: Summarize Release Notes and notify in Slack

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  generate-release-notes:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./github/scripts
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "20.12.2"

      - name: Install dependencies
        run: npm install

      - name: Create a release
        id: summarize_release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          SLACK_WEBHOOK_URL: ${{secrets.SLACK_WEBHOOK_URL}}
